/* GENERAL */

body {
  background-color: #000;
  color: #FFF;
}

h3 {
  font-weight: 300;
}

.h5 {
  margin-bottom: -10px;
  font-size: large;
}

.container ul li {
  text-align: left;
  line-height: 1.5;
  padding: 0.5em 0;
}

.release {
  margin-top: 200px;
}

.index-content {
  margin-top: 1vw;
}

.top-notification {
  margin-bottom: -25px;
  margin-left: 10px;
}

.top-message {
  margin-top: 140px;
}

#footer {
  /*margin-top: 250px;*/
  width: 100%;
}

.square_btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #FFF;
  border: solid 2px #FFF;
  border-radius: 3px;
  transition: .4s;
  font-size: x-large;
  margin-top: 1vw;
}

.square_btn:hover {
  background: #00a3e0;
  color: #FFF;
}

.t4_color {
  color: #00a3e0;
}

.check_area {
  padding-left: 20px;
}
.check_li {
  margin-left: 6vw;
}
/* List */
/*ul li {
  position: relative;
  padding-left: 20px;
}
ul li::after {
  display: block;
  content: '';
  position: absolute;
  top: .65em;
  left: 100em;
  width: 8px;
  height: 1px;
  background-color: #666;
}*/
