/* GENERAL */

body {
  background-color: #000;
  color: #FFF;
}

h3 {
  font-weight: 300;
}

.develop {
    margin-top:80pt;
    background-color: white;
    color: black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5pt 5pt 5pt 5pt;
}

.h5-top {
  margin-top: 50px;
  margin-bottom: -1vw;
  font-size: 1.7em;
}

.h2-top {
  margin: -10px;
}

.container ul li {
  text-align: left;
  line-height: 1.5;
  padding: 0.5em 0;
}

.top-cross-img {
  width: 70px;
  margin-top: -10px;
  margin-bottom: -20px;
}

.release {
  margin-top: 200px;
}

.index-content {
  margin-top: 1vw;
}

.top-notification {
  margin-bottom: -25px;
  margin-left: 10px;
}

.top-message {
  margin-top: 140px;
}

#footer {
  /*margin-top: 250px;*/
  width: 100%;
}

.square_btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #FFF;
  border: solid 2px #FFF;
  border-radius: 3px;
  transition: .4s;
  font-size: x-large;
  margin-top: 1vw;
  min-width: 186px
}

.square_btn:hover {
  background: #00a3e0;
  color: #FFF;
}

.t4_color {
  color: #00a3e0;
}

.check_area p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.check_li {
  margin-left: 6vw;
}

/* Button */
.square_btn35{
    position: relative;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #000;
    transition: .4s;
    min-width: 118px;
    white-space: nowrap;
}
.square_btn35:hover {
    color:#00a3e0;
}
.square_btn35:before,.square_btn35:after{
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}
.square_btn35:before{
  border-left: solid 1px #00a3e0;
  border-top: solid 1px #00a3e0;
  border-bottom: solid 1px #00a3e0;
  left: 0;
}
.square_btn35:after{
  content: '';
  border-top: solid 1px #00a3e0;
  border-right: solid 1px #00a3e0;
  border-bottom: solid 1px #00a3e0;
  right: 0;
}
