{% extends "base.html" %} {% block title %}Index{% endblock title %} {% block content %}

<!-- The main column begins here. -->
<div id="main">

  <div class="test2_section normal">

    <h2>Overview</h2>
    <p>This page provides the instruction on how to install Autoware to your system using Docker.</p>

  </div>
  
  <div class="test2_section normal">

    <h2>Outline</h2>
    <ul class="list">
      <li>Install Docker</li>
      <li>Install NVIDIA Docker</li>
      <li>Install Autoware Docker Image</li>
    </ul>

  </div>

  <div class="test2_section normal">

    <h2>Install Docker</h2>
    <p>You first need to build the Docker environment. If the following process of Docker installation does not work for you, please check <a href="https://docs.docker.com/engine/installation/linux/docker-ce/ubuntu/"><font color="blue">Docker's installation website</font></a>.</p>

    <div class="heading">
      <h3>Uninstall the old version of Docker.</h3>
    </div>

    <div class="section emphasis">

      <p>$ sudo apt-get remove docker docker-engine docker.io</p>

    </div>

    <p>You are ready to move on the next step if all packages related to Docker are removed.</p>

    <div class="heading">
      <h3>Install Docker CE.</h3>
    </div>

    <p>This time you may want to install Docker using the repository, though there are several other ways to install Docker.</p>

    <div class="heading">
      <h4>Setup Repository.</h4>
    </div>

    <p>Do update on apt-get.</p>      
    <div class="section emphasis">
      <p>$ sudo apt-get update</p>
    </div>

    <p>Permit apt-get to access the repository.</p>      
    <div class="section emphasis">
      <p>$  sudo apt-get install apt-transport-https ca-certificates curl software-properties-common</p>
    </div>


    <p>Add Docker's official GPG key docker.</p>      
    <div class="section emphasis">
      <p>$  curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -</p>
    </div>

    <p>Validate the key. If you see the fingerprint below, you are reay to move on the next step.</p>      
    <div class="section emphasis">
      <p>$ sudo apt-key fingerprint 0EBFCD88</p>
      
      <p>pub   4096R/0EBFCD88 2017-02-22</p>
      <p>   Key fingerprint = 9DC8 5822 9FC7 DD38 854A  E2D8 8D81 803C 0EBF CD88</p>
      <p>uid                  Docker Release (CE deb) <docker@docker.com></p>
      <p>sub   4096R/F273FCD8 2017-02-22</p>
    </div>

    <p>Install the repository.</p>      
    <div class="section emphasis">
      <p>sudo add-apt-repository \</p>
      <p>"deb [arch=amd64] https://download.docker.com/linux/ubuntu \</p>
      <p>$(lsb_release -cs) \</p>
      <p>stable"</p>
    </div>


    <div class="heading">
      <h4>Install Docker CE</h4>
    </div>

    <p>Update on apt-get.</p>      
    <div class="section emphasis">
      <p>$ sudo apt-get update</p>
    </div>

    <p>Install the latest version of Docker CE.</p>      
    <div class="section emphasis">
      <p>$ sudo apt-get install docker-ce</p>
    </div>

    <p>Validate the installation succeeded.</p>      
    <div class="section emphasis">
      <p>$ sudo docker run hello-world</p>
    </div>    
  </div>

  <div class="test2_section normal">
    <h2>Install NVIDIA Docker</h2>

    <p>You need to install Docker Plugin provided by NVIDIA in order to access NVIDIA GPUs from Docker Container.</p>
    <br>
    <p>Download the .deb file.</p>
    <div class="section emphasis">
      <p>$ wget https://github.com/NVIDIA/nvidia-docker/releases/download/v1.0.1/nvidia-docker_1.0.1-1_amd64.deb</p>
    </div>

    <p>Install the downloaded .deb file.</p>
    <div class="section emphasis">
      <p>$ sudo dpkg -i nvidia-docker_1.0.1-1_amd64.deb</p>
    </div>

    <p>Check if the nvidia-docker service exists.</p>
    <div class="section emphasis">
      <p>$ systemctl list-units --type=service | grep -i nvidia-docker</p>
    </div>

    <p>Check if the nvidia-docker service runs.</p>
    <div class="section emphasis">
      <p>$ sudo nvidia-docker run --rm nvidia/cuda nvidia-smi</p>
    </div>

  </div>

  <div class="test2_section normal">
    <h2>Install Autoware Docker Image</h2>

    <p>You can build the Autoware runtime environment using nvidia-docker. You may choose either to use the configuration of Docker Hub "as is" or to modify-then-recompile Dockerfile.</p>


    <div class="heading">
      <h3>In case that you use Docker Hub "as is".</h3>
    </div>
    
    <p>Move to the docker directory in Autoware.</p>
    <div class="section emphasis">
      <p>$ cd Autoware/docker</p>
    </div>

    <p>Modify the last sentence of run.sh in that directory: <font color="red">autoware-$1</font> --> <font color="red">autoware/autoware:1.6.0-kinetic</font></p>

    <p>Run run.sh kinetic if you use Ubuntu 16.04, assuming that the default path is "/home/$USER/shared_dir".</p>
    <div class="section emphasis">
      <p>$ sh run.sh kinetic</p>
    </div>

    <p>If you want to use your own path, run build.sh kinetic with the path argument.</p>
    <div class="section emphasis">
      <p>$ sh run.sh kinetic {SHARED_DIR_PATH}</p>
    </div>
    <p>Replace "kinetic" with "indigo" if you use Ubuntu 14.04.</p>

    
    <div class="heading">
      <h3>In case that you modify-then-recompile Dockerfile.</h3>
    </div>

    <div class="heading">
      <h4>How to build Autoware Docker.</h4>
    </div>
    
    <p>Move to the docker directory in Autoware.</p>
    <div class="section emphasis">
      <p>$ cd Autoware/docker</p>
    </div>

    <p>Run build.sh kinetic if you use Ubuntu 16.04.</p>
    <div class="section emphasis">
      <p>$ sh build.sh kinetic</p>
    </div>

    <p>Otherwise, run build.sh indigo for Ubuntu 14.04. We do not support other versions of Ubuntu at this moment.</p>
    <div class="section emphasis">
      <p>$ sh build.sh indigo</p>
    </div>

    <div class="heading">
      <h4>How to run Autoware Docker.</h4>
    </div>


    <p>Run run.sh kinetic if you use Ubuntu 16.04, assuming that the default path is "/home/$USER/shared_dir".</p>
    <div class="section emphasis">
      <p>$ sh run.sh kinetic</p>
    </div>

    <p>If you want to use your own path, run build.sh kinetic with the path argument.</p>
    <div class="section emphasis">
      <p>$ sh run.sh kinetic {SHARED_DIR_PATH}</p>
    </div>
    <p>Replace "kinetic" with "indigo" if you use Ubuntu 14.04.</p>

  </div> 

  
</div>

<!-- The main column ends here. -->

<script src="/static/js/prettify.js"></script>
<script>prettyPrint();</script>

{% endblock content %}
