{% extends "base.html" %} {% block title %}Index{% endblock title %} {% block content %}

<!-- The main column begins here. -->
<div id="main">

  <div class="test2_section normal">

    <h2>Overview</h2>
    <p>This page guides you to install and run Autoware on the NVIDIA DRIVE PX2 platform using Docker.</p>

  </div>
  
  <div class="test2_section normal">

    <h2>Outline</h2>
    <ul class="list">
      <li>Docker Setup</li>
      <li>Autoware Setup</li>
    </ul>

  </div>

  <div class="test2_section normal">

    <h2>Docker Setup</h2>

    <div class="heading">
      <h3>Docker Package Installation</h3>
    </div>
    
    <p>You first need to build the Docker environment. You may not access docker.io with the default configuration of Ubuntu 16.04, so try the following installation process.</p>

    <div class="section emphasis">
      <p>$sudo apt-get install -y software-properties-common</p>
      <p>$sudo apt-add-repository universe</p>
      <p>$sudo apt-get update</p>
      <p>$sudo apt-get install docker.io</p>
      <p>$sudo apt-get update</p>
    </div>


    <div class="heading">
      <h3>Docker Package Test</h3>
    </div>

    <p>Type the following commands.</p>
    <div class="section emphasis">
      <p>$sudo docker info | grep "Docker Root Dir"</p>
    </div>

    <p>Everything should be ready if you find the following description.</p>      
    <div class="section emphasis">
      <p>Docker Root Dir: /var/lib/docker</p>
    </div>
  </div>

    <div class="test2_section normal">
        <h2>Autoware Setup</h2>


	<div class="heading">
	  <h3>Case 1: Autoware with NVIDIA DriveWorks</h3>
	</div>

    <div class="heading">
      <h4>Step 1: Run Setup Script.</h4>
    </div>
    
    <p>Save and run the following script.</p>
    
    <pre class="prettyprint linenums">
#!/bin/sh

#################################################
# Ensure ROOT user (UID == 0)
#################################################
if [ ${EUID} -ne 0 ]; then
    echo "Execute script as ROOT user."
    exit 1
fi

IMAGE_NAME=tiercr.azurecr.io/dpx2/autoware
TAG=1.2.0-dw
CR_NOFOUND=$(docker inspect ${IMAGE_NAME}:${TAG} 2>/dev/stdout | grep No | wc -l)

if ! type docker 2>/dev/null 1>/dev/null
then
 echo "Please install docker while referring to \"DOCKER INSTALLATION FOR DRIVE PX 2\""
 exit 1
fi

if [ ! ${CR_NOFOUND} ];
then
 echo "${IMAGE_NAME}:${TAG} is exist."
fi

curl -L -o .temp.dpx2_autoware_image.tar "https://www.dropbox.com/s/p9shbm9wnx2931v/dpx2_autoware_1.2.0-dw.tar?dl=1"
sudo docker load .temp.dpx2_autoware_image.tar
rm .temp.dpx2_autoware_image.tar      
    </pre>

    <p>Use apt-get as follows if you cannot find the curl command.</p>
    <div class="section emphasis">
      <p>$ sudo apt-get install curl</p>
    </div>


    <div class="heading">
      <h4>Step 2: Run Installation Script.</h4>
    </div>

    <p>Save and run the following script.</p>

    
    <pre class="prettyprint linenums">
#!/bin/bash

#################################################
# Ensure ROOT user (UID == 0)
#################################################
if [ ${EUID} -ne 0 ]; then
    echo "Execute script as ROOT user."
    exit 1
fi

# For both AutoChauffeur(with dGPU) and AutoCruise(without dGPU)
if [ -e "/dev/nvgpu-pci" ]; then
        NV_DEV="--device /dev/nvidiactl --device /dev/nvmap"
        NV_DGPU="--device /dev/nvgpu-pci"
else
	NV_DEV="--device /dev/nvmap"
        NV_DGPU=""
fi

SENSOR_INIT_BIN=./gmsl_init

NV_IGPU=$(\ls /dev/nvhost* | xargs -I{} echo '--device {}')
NV_LIBS="-v /usr/lib/libcuda.so.1:/usr/lib/libcuda.so.1 $(\ls /usr/lib/libnv* | xargs -I{} echo '-v {}:{}') $(\ls /usr/lib/aarch64-linux-gnu/libnv* | xargs -I{} echo '-v {}:{}') $(\ls /usr/lib/aarch64-linux-gnu/libcudnn* | xargs -I{} echo '-v {}:{}')"
CUDA_DIR="-v /usr/local/cuda-8.0:/usr/local/cuda-8.0"
X_SOCK="/tmp/.X11-unix"
X_ARG="--net=host -v ${X_SOCK}:${X_SOCK}"
DISP_ARG="-e DISPLAY -e QT_X11_NO_MITSHM=1"
DW_ARG="-v/usr/local/driveworks:/usr/local/driveworks -v/usr/local/driveworks-0.3:/usr/local/driveworks-0.3 -v/usr/lib/pkgconfig/driveworks.pc:/usr/lib/pkgconfig/driveworks.pc -v/etc/tacp:/etc/tacp -v/usr/lib/libtacp.so:/usr/lib/libtacp.so"

DW_DEV="--device /dev/isc-dev.1.48 \
        --device /dev/isc-dev.2.48 \
 	--device /dev/isc-dev.7.10 \
        --device /dev/isc-dev.7.11 \
        --device /dev/isc-dev.7.40 \
        --device /dev/isc-dev.7.48 \
        --device /dev/isc-mgr.1.e  \
        --device /dev/isc-mgr.2.c  \
        --device /dev/isc-mgr.7.a  \
	--device /dev/i2c-7 \
	--device /dev/i2c-8"

SSD_MOUNT="$(\ls /media/nvidia | xargs -I{} echo '-v /media/nvidia/{}:/media/nvidia/{}')"
DOCKER_ARGUMENTS="${NV_DEV} ${NV_IGPU} ${NV_DGPU} ${NV_LIBS} ${GL_LIBS} ${CUDA_DIR} ${X_ARG} ${DISP_ARG} ${SSD_MOUNT} ${DW_ARG} ${DW_DEV}"

IMAGE_NAME=tiercr.azurecr.io/dpx2/autoware:1.2.0-dw

# allows x access for local:root
xhost +local:root
xhost +
./${SENSOR_INIT_BIN} &
sleep 3
kill -KILL $!
echo "docker run -it --rm --privileged ${DOCKER_ARGUMENTS} -v /home/nvidia:/home/nvidia/shared ${HOST_SHARE} ${WORKDIR} ${IMAGE_NAME} bash"
#docker run -it --rm --privileged ${DOCKER_ARGUMENTS} -v /home/nvidia:/home/nvidia/shared ${HOST_SHARE} ${WORKDIR} ${IMAGE_NAME} xterm
docker run -it --rm --privileged ${DOCKER_ARGUMENTS} -v /home/nvidia:/home/nvidia/shared ${HOST_SHARE} ${WORKDIR} ${IMAGE_NAME} bash

    </pre> 


    <div class="heading">
      <h3>Case 2: Autoware without NVIDIA DriveWorks</h3>
    </div>
    
    <div class="heading">
      <h4>Step 1: Run Setup Script.</h4>
    </div>
    
    <p>Save and run the following script.</p>    

        <pre class="prettyprint linenums">
#!/bin/sh

IMAGE_NAME=tiercr.azurecr.io/dpx2/autoware
TAG=1.2.0
CR_NOFOUND=$(docker inspect ${IMAGE_NAME}:${TAG} 2>/dev/stdout | grep No | wc -l)

if ! type docker 2>/dev/null 1>/dev/null
then
 echo "Please install docker while referring to \"DOCKER INSTALLATION FOR DRIVE PX 2\""
 exit 1
fi

if [ ! ${CR_NOFOUND} ];
then
 echo "${IMAGE_NAME}:${TAG} is exist."
fi

curl -L -o .temp.dpx2_autoware_image.tar "https://www.dropbox.com/s/qf38619ci7qawhe/dpx2_autoware_1.2.0.tar?dl=1"
sudo docker load -i .temp.dpx2_autoware_image.tar
rm .temp.dpx2_autoware_image.tar
    </pre>

    <p>Use apt-get as follows if you cannot find the curl command.</p>
    <div class="section emphasis">
      <p>$ sudo apt-get install curl</p>
    </div>
	
   <div class="heading">
      <h4>Step 2: Run Installation Script.</h4>
    </div>

    <p>Save and run the following script.</p>

    <pre class="prettyprint linenums">
#!/bin/bash

if ! type docker 2>/dev/null 1>/dev/null
then
 echo "Please install docker while referring to \"DOCKER INSTALLATION FOR DRIVE PX 2\""
 exit 1
fi

# For both AutoChauffeur(with dGPU) and AutoCruise(without dGPU)
if [ -e "/dev/nvgpu-pci" ]; then
        NV_DEV="--device /dev/nvidiactl --device /dev/nvmap"
        NV_DGPU="--device /dev/nvgpu-pci"
else
	NV_DEV="--device /dev/nvmap"
        NV_DGPU=""
fi
NV_IGPU=$(\ls /dev/nvhost* | xargs -I{} echo '--device {}')
NV_LIBS="-v /usr/lib/libcuda.so.1:/usr/lib/libcuda.so.1 $(\ls /usr/lib/libnv* | xargs -I{} echo '-v {}:{}')"
GL_LIBS="$(\ls /usr/lib/lib*GL* | xargs -I{} echo '-v {}:{}')"
CUDA_DIR="-v /usr/local/cuda-8.0:/usr/local/cuda-8.0"
#X_AUTH="/tmp/.docker.xauth"
X_SOCK="/tmp/.X11-unix"
X_ARG="--net=host -v ${X_SOCK}:${X_SOCK}"
DISP_ARG="-e DISPLAY -e QT_X11_NO_MITSHM=1"
SSD_MOUNT="$(\ls /media/nvidia | xargs -I{} echo '-v /media/nvidia/{}:/media/nvidia/{}')"
DOCKER_ARGUMENTS="${NV_DEV} ${NV_IGPU} ${NV_DGPU} ${NV_LIBS} ${GL_LIBS} ${CUDA_DIR} ${X_ARG} ${DISP_ARG} ${SSD_MOUNT}"

IMAGE_NAME=tiercr.azurecr.io/dpx2/autoware:1.2.0
# allows x access for local:root
xhost +local:root
xhost +
echo "docker run/ -it --rm --privileged ${DOCKER_ARGUMENTS} -v /home/nvidia:/home/nvidia/shared ${HOST_SHARE} ${WORKDIR} ${IMAGE_NAME} xterm"
docker run -it --rm --privileged ${DOCKER_ARGUMENTS} -v /home/nvidia:/home/nvidia/shared ${HOST_SHARE} ${WORKDIR} ${IMAGE_NAME} xterm
    </pre>

    <div class="heading">
      <h3>Autoware Test</h3>
    </div>
            <p>You should face xterm after running the installation script. Please finally run start_autoware.sh that is located in the current directory.</p>
    <div class="section emphasis">
      <p>$ ./start_autoware.sh</p>
    </div>
            <p>Autoware should be now running successfully.</p>


    </div>

  
</div>

<!-- The main column ends here. -->


<script src="/static/js/prettify.js"></script>
<script>prettyPrint();</script>

{% endblock content %}
