{% extends "base.html" %} {% block title %}Index{% endblock title %} {% block content %}

<div class="wrapper">
  <div class="page-header clear-filter" filter-color="blue">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/static/img/rviz.png');">
    </div>
    <div class="container">
      <div class="content-center brand">
        <!-- <img class="n-logo" src="/static/img/top_autoware_logo2.png" alt=""> -->
        <p class="top-notification">Click Me</p>
        <nav class="menu">
          <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
          <label class="menu-open-button" for="menu-open">
            <img alt="Brand" src="/static/img/autoware_logo_alpha.png" style="width: auto;height: 65px;padding-bottom: 2px">
          </label>

          <a href="https://www.youtube.com/watch?v=zujGfJcZCpQ&list=PLMV3EZ9zjNbIkOWvjaY2iU8LVC-pUQMOU" title="Autoware Movie" class="menu-item blue" target="_blank"> <i class="fa fa-film menu-icon"><h6 class="menu-caption">Videos</h6></i></a>
          <a href="https://github.com/CPFL/Autoware/wiki" title="Autoware Wiki" class="menu-item green" target="_blank"> <i class="fa fa-wikipedia-w menu-icon"><h6 class="menu-caption">Wiki</h6></i> </a>
          <a href="https://www.meetup.com/ja-JP/Mountain-View-Autoware-Meetup/" title="Bay Area Autoware Meetup" class="menu-item red" target="_blank"> <i class="fa fa-users menu-icon"><h6 class="menu-caption">Meetup</h6></i> </a>
          <a href="https://rosbag.tier4.jp/" title="ROSBAG STORE" class="menu-item purple" target="_blank"> <i class="fa fa-database menu-icon"><h6 class="menu-caption">ROSBAG</h6></i> </a>
          <a href="https://www.automan.ai/" title="Automan" class="menu-item orange" target="_blank"> <i class="fa fa-user menu-icon"><h6 class="menu-caption">Automan</h6></i> </a>
          <a href="https://maptools.tier4.jp/" title="MapTools" class="menu-item lightblue" target="_blank"> <i class="fa fa-map-o menu-icon"><h6 class="menu-caption">MapTools</h6></i> </a>
        </nav>

        <div class="top-message">
          <h1 class="h1-seo">Open-Source To Self-Driving</h1>

          <h1 class="h5-top">Get Docker</h5>
          <!-- <a href="{% url 'autoware_web:docker_x86' %}" class="square_btn">Generic X86</a>
          <a href="{% url 'autoware_web:docker_px2' %}" class="square_btn">DRIVE PX2</a> -->
          <a href="https://github.com/CPFL/Autoware/wiki/Installation-by-Docker:-Generic-x86" class="square_btn" target="_blank">Generic X86</a>
          <a href="https://github.com/CPFL/Autoware/wiki/Installation-by-Docker:-DRIVE-PX2" class="square_btn" target="_blank">DRIVE PX2</a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="index-content">
  </div> -->
</div>

{% endblock content %}
