{% extends "base.html" %} {% block title %}Index{% endblock title %} {% block content %}

<div class="index-page sidebar-collapse">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-info fixed-top navbar-transparent " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/" rel="tooltip" data-placement="bottom" target="_blank">
                    Autoware.ai
                </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="/static/img/blurred-image-1.jpg">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fa fa-home"></i>
                <p>HOME</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/CPFL/Autoware" target="_blank">
                <i class="fa fa-github"></i>
                <p>Github</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <div class="page-header clear-filter" filter-color="blue">
      <div class="page-header-image" data-parallax="true" style="background-image: url('/static/img/transportation_image.png');">
      </div>
      <div class="container">
        <div class="content-center brand">
          <img class="n-logo" src="/static/img/top_autoware_logo.png" alt="">
          <h1 class="h1-seo">Hello Autoware :)</h1>
          <h3>An open-source software for urban self-driving mobility.</h3>
        </div>
      </div>
    </div>

    <div class="section section-images">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <center>
              <div class="hero-images-container">
                <img src="/static/img/top_car2.png" alt="">
              </div>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>

  <center>
    <h1>Autoware Platform</h1>
    <div class="container">
      <p>Open-source software for urban autonomous driving, maintained by Tier IV.</p>
      <p>The following functions are supported:</p>

      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-lg-6">
            <div class="container">
              <ul>
                <li>3D Localization</li>
                <li>3D Mapping</li>
                <li>Path Planning</li>
                <li>Path Following</li>
                <li>Accel/Brake/Steering Control</li>
                <li>Data Logging</li>
                <li>Car/Pedestrian/Object Detection</li>
                <li>Traffic Signal Detection</li>
                <li>Traffic Light Recognition</li>
              </ul>
            </div>
          </div>

          <div class="col-xs-6 col-lg-6">
            <div class="container">
              <ul>
                <li>Lane Detection</li>
                <li>Object Tracking</li>
                <li>Sensor Calibration</li>
                <li>Sensor Fusion</li>
                <li>Cloud-oriented Maps</li>
                <li>Connected Automation</li>
                <li>Smartphone Navigation</li>
                <li>Software Simulation</li>
                <li>Virtual Reality</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h1>Autoware Functions</h1>
      <p>Click me!</p>

      <nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open">
             <img alt="Brand" src="/static/img/autoware_logo_alpha.png" style="width: 65px;height: 65px;">
          </label>

        <a href="https://www.youtube.com/watch?v=EcRdoJATdzE" title="Autoware Movie" class="menu-item blue"> <i class="fa fa-film"></i> </a>
        <a href="https://github.com/CPFL/Autoware" title="Autoware Github" class="menu-item green"> <i class="fa fa-github"></i> </a>
        <a href="https://autoware.herokuapp.com/" title="Autoware Developer Slack" class="menu-item red"> <i class="fa fa-slack"></i> </a>
        <a href="https://rosbag.tier4.jp/" title="ROSBAG STORE" class="menu-item purple"> <i class="fa fa-database"></i> </a>
        <a href="https://www.automan.ai/" title="Automan" class="menu-item orange"> <i class="fa fa-user"></i> </a>
        <a href="https://maptools.tier4.jp/" title="MapTools" class="menu-item lightblue"> <i class="fa fa-map-o"></i> </a>
      </nav>
    </div>

    <div class="container">
      <div class="release">
        <h1>Release</h1>
        <p>...</p>
      </div>
    </div>
    
</div>

{% endblock content %}
