{% extends "base.html" %} {% block title %}Index{% endblock title %} {% block content %}

<div class="wrapper">
  <div class="page-header clear-filter" filter-color="blue">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/static/img/rviz.png');">
    </div>
    <div class="container">
      <div class="content-center brand">
        <!-- <img class="n-logo" src="/static/img/top_autoware_logo2.png" alt=""> -->
        <nav class="menu">
          <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
          <label class="menu-open-button" for="menu-open">
            <img alt="Brand" src="/static/img/autoware_logo_alpha.png" style="width: auto;height: 65px;padding-bottom: 2px">
          </label>

          <a href="https://www.youtube.com/watch?v=EcRdoJATdzE" title="Autoware Movie" class="menu-item blue"> <i class="fa fa-film"></i> </a>
          <a href="https://github.com/CPFL/Autoware" title="Autoware Github" class="menu-item green"> <i class="fa fa-github"></i> </a>
          <a href="https://autoware.herokuapp.com/" title="Autoware Developer Slack" class="menu-item red"> <i class="fa fa-slack"></i> </a>
          <a href="https://rosbag.tier4.jp/" title="ROSBAG STORE" class="menu-item purple"> <i class="fa fa-database"></i> </a>
          <a href="https://www.automan.ai/" title="Automan" class="menu-item orange"> <i class="fa fa-user"></i> </a>
          <a href="https://maptools.tier4.jp/" title="MapTools" class="menu-item lightblue"> <i class="fa fa-map-o"></i> </a>
        </nav>

        <div class="top-message">
          <h1 class="h1-seo">We Love Open Source.</h1>

          <a href="{% url 'autoware_web:docker' %}" class="square_btn">X86</a>
          <a href="{% url 'autoware_web:docker' %}" class="square_btn">PX2</a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="index-content">
  </div> -->
</div>

{% endblock content %}
