<link rel="stylesheet" href="../../static/css/style01.css">{% extends "base.html" %} {% block title %}Index{% endblock title %} {% block content %}

<!-- The main column begins here. -->
<div id="main">

  <div class="test2_section normal">
    <h2>Welcome</h2>
    <p class="main_text">To join Autoware, please first sign in <a target="_blank" href="https://github.com/cpfl/Autoware">our GitHub repository</a>. You can find how to contribute to the community through <a target="_target" href="https://github.com/cpfl/Autoware/wiki">Autoware Wiki</a>. You are also invited to <a target="_blank" href="https://autoware-developer.slack.com/">Autoware Slack</a> and <a target="_blank" href="https://groups.google.com/d/forum/autoware">Autoware Groups</a> for interactive discussion. For more details, please visit <a target="_blank" href="https://github.com/CPFL/Autoware/wiki/Contribution-Rules">Contribution Rules</a>.</p>
  </div>
  
  <div class="test2_section normal">

    <h2>Open-Source To Self-Driving</h2>
    <p class="main_text">Autoware is ROS-based open-source software, enabling self-driving mobility to be deployed in open city areas. You obtain a strong platform for your products and services, on which you can select cameras, LiDAR, GNSS, or IMU as underlying sensors, and run localization and object detection modules using 3D maps, followed prediction, planning, and control modules to actuate by-ware vehicles. For more details, please visit <a target="_target" href="https://github.com/cpfl/Autoware/wiki">Autoware Wiki</a>.</p>

  </div>
	
	
	
  <div class="test2_section normal">

    <h2 id="title_example">Examples of "Powered by Autoware"</h2>
      
	  <div class="content01">
			
			<img class="content_img01" src="../../static/img/join/tier4_yamaha.jpg" width="500">
			<dl class="content_text01">
				<dt>Owner:</dt><dd>Tier IV</dd>
				<dt>Supplier:</dt><dd>Tier IV</dd>
				<dt>Vehicle:</dt><dd>Yamaha Golf Cart</dd>
				<dt>ECU:</dt><dd>NVIDIA DRIVE PX2</dd>
				<dt>Sensors:</dt><dd>Velodyne VLP-16,<br>Sekonix GMSL camera (&times2)</dd>
				
			</dl>
		</div>
	
		<div class="content01">
			<img class="content_img02" src="../../static/img/join/tier4_suzuki.jpg" width="500">
			<dl class="content_text02">
				<dt>Owner:</dt><dd>Aisan Technology</dd>
				<dt>Supplier:</dt><dd>ZMP and Tier IV</dd>
				<dt>Vehicle:</dt><dd>Toyota Estima</dd>
				<dt>ECU:</dt><dd>NVIDIA DRIVE PX2, Intel Core i7</dd>
				<dt>Sensors:</dt><dd>Velodyne HDL-32E, PointGrey Grasshopper3(&times4), PointGrey BlackFly2(&times5), IBEO LiDAR,ELP Webcam(&times4),Logicool Webcam</dd>
			</dl>
		</div>
	
		<div class="content01">
			<img class="content_img01" src="../../static/img/join/aisan_tier4.jpg" width="500">
			<dl class="content_text01">
				<dt>Owner:</dt><dd>Nagoya University</dd>
				<dt>Supplier:</dt><dd>ZMP and Tier IV</dd>
				<dt>Vehicle:</dt><dd>Toyota Prius PHV</dd>
				<dt>ECU:</dt><dd>NVIDIA DRIVE PX2, Intel Core i7</dd>
				<dt>Sensors:</dt><dd>Velodyne HDL-32E, PointsGrey Grasshopper3, Xsens MTi-300,(GNSS)Javad Delta-3</dd>
			</dl>
		</div>
	
		<div class="content01">
			<img class="content_img02" src="../../static/img/join/nagoya_tier4_phv.jpg" width="500">
			<dl class="content_text02">
				<dt>Owner:</dt><dd>Nagoya University</dd>
				<dt>Supplier:</dt><dd>ZMP and Tier IV</dd>
				<dt>Vehicle:</dt><dd>Toyota Prius</dd>
				<dt>ECU:</dt><dd>Intel Core i7, NVIDIA GeForce GTX980</dd>
				<dt>Sensors:</dt><dd>Velodyne HDL-64E, Baumer VLG-22</dd>
			</dl>
		</div>
	
		<div class="content01">
			<img class="content_img01" src="../../static/img/join/nagoya_tier4_hv.jpg" width="500">
			<dl class="content_text01">
				<dt>Owner:</dt><dd>Nagoya University</dd>
				<dt>Supplier:</dt><dd>Yamaha Motor</dd>
				<dt>Vehicle:</dt><dd>Yamaha Golf Cart</dd>
				<dt>ECU:</dt><dd>NVIDIA DRIVE PX2</dd>
				<dt>Sensors:</dt><dd>Velodyne VLP-16, Sekonix SF3322 (&times2), Xsens MTi-300</dd>
			</dl>
		</div>
	
		<div class="content01">
			<img class="content_img02" src="../../static/img/join/nagoya_yamaha.jpg" width="500">
			<dl class="content_text02">
				<dt>Owner:</dt><dd>Aisin AW</dd>
				<dt>Supplier:</dt><dd>Not Disclosed</dd>
				<dt>Vehicle:</dt><dd>Toyota Prius</dd>
				<dt>ECU:</dt><dd>Not Disclosed</dd>
				<dt>Sensors:</dt><dd>Velodyne HDL-32E, PointsGrey Ladybug, PointGrey Grassphopper3</dd>
			</dl>
		</div>
	
		<div class="content01">
			<img class="content_img01" src="../../static/img/join/aisin_aw.jpg" width="500">
			<dl class="content_text01">
				<dt>Owner:</dt><dd>Tier IV</dd>
				<dt>Supplier:</dt><dd>Tier IV</dd>
				<dt>Vehicle:</dt><dd>Yamaha Golf Cart</dd>
				<dt>ECU:</dt><dd>NVIDIA DRIVE PX2</dd>
				<dt>Sensors:</dt><dd>Velodyne VLP-16, Sekonix GMSL camera (&times2)</dd>
			</dl>
		</div>
	
		<div class="content01">
			<img class="content_img02" src="../../static/img/join/sony.jpg" width="500">
			<dl class="content_text02">
				<dt>Owner:</dt><dd>SONY</dd>
				<dt>Supplier:</dt><dd>Yamaha Motor and SONY</dd>
				<dt>Vehicle:</dt><dd>Yamaha Golf Cart</dd>
				<dt>ECU:</dt><dd>Not Disclosed</dd>
				<dt>Sensors:</dt><dd>Exmor R CMOS camera(&times5) 2D-LiDAR Ultla Sonic Sensor</dd>
			</dl>
		</div>
	
		<div class="content01">
			<img class="content_img01" src="../../static/img/join/udacity_autonomoustuff.jpg" width="500">
			<dl class="content_text01">
				<dt>Owner:</dt><dd>Udacity</dd>
				<dt>Supplier:</dt><dd>AutonomouStuff and Tier IV</dd>
				<dt>Vehicle:</dt><dd>Ford Lincoln MKZ</dd>
				<dt>ECU:</dt><dd>NVIDIA DRIVE PX2, Intel Core i7</dd>
				<dt>Sensors:</dt><dd>Velodyne VLP-16, PointGrey Grasshopper3 (&times3), ibeo LUX</dd>
			</dl>
		</div>
	
		<div class="content01">	
			<img class="content_img02" src="../../static/img/join/autonomoustuff.jpg" width="500">
			<dl class="content_text02">
				<dt>Owner:</dt><dd>AutonomouStuff</dd>
				<dt>Supplier:</dt><dd>AutonomouStuff</dd>
				<dt>Vehicle:</dt><dd>Ford Fusion</dd>
				<dt>ECU:</dt><dd>NVIDIA DRIVE PX2, Intel Core i7</dd>
				<dt>Sensors:</dt><dd>Velodyne HDL-64ES2, Novatel GNSS, Delphi SRR2, Mobileye 560</dd>
			</dl>
		</div>
	  
          
    </div>
  </div>
  
</div>

<!-- The main column ends here. -->


<script src="/static/js/prettify.js"></script>
<script>prettyPrint();</script>

{% endblock content %}
