<link rel="stylesheet" href="../../static/css/docker.css">{% extends "base.html" %} {% block title %}Index{% endblock title %} {% block content %}

<!-- The main column begins here. -->
<div id="main">

  <div class="test2_section normal">
    <h2>Welcome</h2>
    <p>To join Autoware, please first sign in <a target="_blank" href="https://github.com/cpfl/Autoware">our GitHub repository</a>. You can find how to contribute to the community through <a target="_target" href="https://github.com/cpfl/Autoware/wiki">Autoware Wiki</a>. You are also invited to <a target="_blank" href="https://autoware-developer.slack.com/">Autoware Slack</a> and <a target="_blank" href="https://groups.google.com/d/forum/autoware">Autoware Groups</a> for interactive discussion. For more details, please visit <a target="_blank" href="https://github.com/CPFL/Autoware/wiki/Contribution-Rules">Contribution Rules</a>.</p>
  </div>
  
  <div class="test2_section normal">

    <h2>Open-Source To Self-Driving</h2>
    <p>Autoware is ROS-based open-source software, enabling self-driving mobility to be deployed in open city areas. You obtain a strong platform for your products and services, on which you can select cameras, LiDAR, GNSS, or IMU as underlying sensors, and run localization and object detection modules using 3D maps, followed prediction, planning, and control modules to actuate by-ware vehicles. For more details, please visit <a target="_target" href="https://github.com/cpfl/Autoware/wiki">Autoware Wiki</a>.</p>

  </div>
  
  <div class="test2_section normal">

    <h2>Examples of "Powered by Autoware"</h2>
      <div class="row text_change">
        <div class="col-6 gallery">
	        <img src="/static/img/join/tier4_yamaha.jpg" alt="Rounded Image" class="rounded">
        </div>
          <div class="col-6 gallery">
	        <h5>Owner: Tier IV<br>
	            Supplier: Tier IV<br>
	            Vehicle: Yamaha Golf Cart<br>
	            ECU: NVIDIA DRIVE PX2<br>
	            Sensors:
                Velodyne VLP-16,
                Sekonix GMSL camera (&times2)
            </h5>
              <!--
            <table class="table table-hover">
                <tr>
                    <th>Owner:</th>
                    <th>Tier IV</th>
                </tr>
                <tr>
                    <th>Supplier:</th>
                    <th>Tier IV</th>
                </tr>
                <tr>
                    <th>Vehicle:</th>
                    <th>Yamaha Golf Cart</th>
                </tr>
	            <tr>
                    <th>ECU:</th>
                    <th>NVIDIA DRIVE PX2</th>
                </tr>
                    <th>Sensors:</th>
                    <th>Velodyne VLP-16,</th>
                    <th>Sekonix GMSL camera (&times2)</th>
                </tr>
                </tbody>
            </table>
            -->
          </div>
      </div>
      <div class="row text_change">
          <div class="col-6 gallery">
	    <h5>Owner: Tier IV<br>
	    Supplier: Tier IV<br>
	    Vehicle: Suzuki Senior Car<br>
	    ECU: NVIDIA DRIVE PX2<br>
	    Sensors:
        Hokuyo YVT-35LX,
        Sekonix GMSL camera(&times2)</h5>
      </div>
          <div class="col-6 gallery">
	    <img src="/static/img/join/tier4_suzuki.jpg" alt="Rounded Image" class="rounded">
      </div>
    </div>
       <div class="row text_change">
          <div class="col-6 gallery">
	    <img src="/static/img/join/aisan_tier4.jpg" alt="Rounded Image" class="rounded">
      </div>
          <div class="col-6 gallery">
	    <h5>Owner: Aisan Technology<br>
	    Supplier: ZMP and Tier IV<br>
	    Vehicle: Toyota Estima<br>
	    ECU: NVIDIA DRIVE PX2, Intel Core i7<br>
	    Sensors:
        Velodyne HDL-32E,
        PointGrey Grasshopper3(&times4),
        PointGrey BlackFly2(&times5),
        IBEO LiDAR,
        ELP Webcam(&times4),
        Logicool Webcam</h5>
      </div>
    </div>
      <div class="row text_change">
          <div class="col-6 gallery">
	    <h5>Owner: Nagoya University<br>
	    Supplier: ZMP and Tier IV<br>
	    Vehicle: Toyota Prius PHV<br>
	    ECU: NVIDIA DRIVE PX2, Intel Core i7<br>
	    Sensors:
        Velodyne HDL-32E,
        PointsGrey Grasshopper3,
        Xsens MTi-300,(GNSS)Javad Delta-3</h5>
      </div>
          <div class="col-6 gallery">
          <img src="/static/img/join/nagoya_tier4_phv.jpg" alt="Rounded Image" class="rounded">
      </div>
    </div>
       <div class="row text_change">
          <div class="col-6 gallery">
	<img src="/static/img/join/nagoya_tier4_hv.jpg" alt="Rounded Image" class="rounded">
      </div>
          <div class="col-6 gallery">
	    <h5>Owner: Nagoya University<br>
	    Supplier: ZMP and Tier IV<br>
	    Vehicle: Toyota Prius<br>
	    ECU: Intel Core i7, NVIDIA GeForce GTX980<br>
	    Sensors:
        Velodyne HDL-64E,
        Baumer VLG-22</h5>
      </div>
    </div>
       <div class="row text_change">
          <div class="col-6 gallery">
	    <h5>Owner: Nagoya University<br>
	    Supplier: Yamaha Motor<br>
	    Vehicle: Yamaha Golf Cart<br>
	    ECU: NVIDIA DRIVE PX2<br>
	    Sensors:
        Velodyne VLP-16,
        Sekonix SF3322 (&times2),
        Xsens MTi-300</h5>
      </div>
          <div class="col-6 gallery">
          <img src="/static/img/join/nagoya_yamaha.jpg" alt="Rounded Image" class="rounded">
      </div>
    </div>
      <div class="row text_change">
          <div class="col-6 gallery">
	        <img src="/static/img/join/aisin_aw.jpg" alt="Rounded Image" class="rounded">
        </div>
          <div class="col-6 gallery">
	    <h5>Owner: Aisin AW<br>
	    Supplier: Not Disclosed<br>
	    Vehicle: Toyota Prius<br>
	    ECU: Not Disclosed<br>
	    Sensors:
        Velodyne HDL-32E,
        PointsGrey Ladybug,
        PointGrey Grassphopper3</h5>
      </div>
    </div>
      <div class="row text_change">
          <div class="col-6 gallery">
	        <h5>Owner: SONY<br>
	        Supplier: Yamaha Motor and SONY<br>
            Vehicle: Yamaha Golf Cart<br>
	        ECU: Not Disclosed<br>
	        Sensors:
            Exmor R CMOS camera(&times5)
            2D-LiDAR
            Ultla Sonic Sensor </h5>
        </div>
          <div class="col-6 gallery">
            <img src="/static/img/join/sony.jpg" alt="Rounded Image" class="rounded">
        </div>
    </div>
      <div class="row text_change">
          <div class="col-6 gallery">
	    <img src="/static/img/join/udacity_autonomoustuff.jpg" alt="Rounded Image" class="rounded">
      </div>
          <div class="col-6 gallery">
	    <h5>Owner: Udacity<br>
	    Supplier: AutonomouStuff and Tier IV<br>
	    Vehicle: Ford Lincoln MKZ<br>
	    ECU: NVIDIA DRIVE PX2, Intel Core i7<br>
	    Sensors:
        Velodyne VLP-16,
        PointGrey Grasshopper3 (&times3),
        ibeo LUX</h5>
      </div>
    </div>
      <div class="row text_change">
          <div class="col-6 gallery">
	        <h5>Owner: AutonomouStuff<br>
	        Supplier: AutonomouStuff<br>
	        Vehicle: Ford Fusion<br>
	        ECU: NVIDIA DRIVE PX2, Intel Core i7<br>
	        Sensors:
            Velodyne HDL-64ES2,
            Novatel GNSS,
            Delphi SRR2,
            Mobileye 560</h5>
        </div>
          <div class="col-6 gallery">
              <img src="/static/img/join/autonomoustuff.jpg" alt="Rounded Image" class="rounded">
      </div>
    </div>
  </div>
  
</div>

<!-- The main column ends here. -->


<script src="/static/js/prettify.js"></script>
<script>prettyPrint();</script>

{% endblock content %}
